@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.Activatepage{
    display: flex;
}

.Activate{
    width: 55%;
    font-family: 'Montserrat', sans-serif;
    padding-top: 80px;
}
.checkmail{
    max-width: 80%;
    margin: 70px 20px 0 auto;
}
.Activatelady{
    width: 45%;
    background-color: #FB8500;
    padding-top: 80px;
}
.activateicon{
    width: 70%;
}
.activateicon img{
    width: 85%;
    margin-left: 225px;
    margin-top: 70px;
}

li{
   display: list-item;
   list-style-position: inside;
   /* margin-left: 5px; */
   margin-bottom: 5px;
   color:#023047
}
.Activate h4{
    color:#023047
}
.Activate a{
    color:#138ECB;
    font-size:0.8rem;
}
.Activate h2{
    font-size: 2.3rem;
    color:#023047
}
.Activate p{
    font-size: 1rem;
    font-weight: 400;
    color: #023047;
    margin-bottom: 20px;
    margin-top: 10px;
}
.listing p{
    margin-top:30px;
}

.youremail p{
    width: 78%;
}

/* Responsive line of codes */

@media (max-width: 1240px){
    .activateicon img{
        width: 100%;
        margin-left: 150px;
        margin-top: 50px;
    }
}

@media (max-width: 1114px){
    .activateicon{
        width: 65%;
    }
    .activateicon img{
        margin-left: 150px;
        margin-top: 100px;
    }
}
@media (max-width: 1044px){
    .activateicon img{
        margin-left: 140px;
        margin-top: 130px;
    }
}

@media (max-width: 905px){
    .Activatepage{
        display: block;
    }
    .Activate{
        width: 90%;
       
    }
    .checkmail{
        max-width: 80%;
        margin-top: 50px;
    }
    .activateicon{
        width: 80%;
        margin:auto; 
    }
    .Activatelady{
        width: 100%;
        padding-top: 10px;
    }
    .activateicon img{
        width: 80%;
        margin-left: 40px;
        margin-top: 120px;
    }

}