@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


.AddContact{
    width: 70%;
    margin: 70px auto;
    font-family: 'Montserrat', sans-serif;
}


.AddContact h4{
    color: #023047;
    font-weight: 500;
    font-size:1.1rem;
    margin-bottom: 20px;
}
.AddContact h2{
    color: #023047;
    font-weight: 500;
    margin-bottom: 10px;
    font-size:2rem;
}
.AddContact p{
    color: #023047;
    font-weight: 400;
    font-size:1.1rem;
}
.BtnAddContact{
    padding: 10px 0px;
    /* text-align: center; */
    justify-content: center;
    width: 17%;
    font-size:1.1rem;
    border-radius:0px;
    font-weight:bold;
    color: white;
    background-color: #004E56;
    margin-top: 30px;
}

.AddContact hr{
    margin: 20px 0px 30px 0;
}

.AudienceList{
    border: 1px solid black;
    padding: 15px 0px 15px 0;
}
.Audiuencewidth{
    width: 70%;
}
.AUDlist{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.AudienceList hr{
    margin: 15px 0px 15px 0;
}
.BtnEdit{
    padding: 10px 0px;
    /* text-align: center; */
    justify-content: center;
    width: 17%;
    font-size:1.1rem;
    border-radius:0px;
    font-weight:bold;
    color: white;
    background-color: #004E56;
    margin: 40px auto 0;
}
.AUDlist h5{
    margin-left: 30px;
}

.AUDlist i{
    margin-right: 30px;
}

/* Responsive line of codes */

@media (max-width: 1180px){
    .BtnAddContact{
       width: 20%;
    }
}

@media (max-width: 978px){
    .BtnAddContact{
       width: 25%;
    }
}

@media (max-width: 800px){
    .AddContact{
        width: 80%;
    }
    .BtnEdit{
        width: 25%;
     }
    
}
@media (max-width: 606px){
    .BtnAddContact{
       width: 30%;
    }
}