@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


.dashboardNav{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    /* position: fixed;
    left: -1000px; */
}
.sideBAR{
    display: none;
}
.DashNav{
    max-width:90%;
    margin: 0px auto;
    padding-top: 25px;
}
.dashhead{
    display:flex;
    justify-content:space-between;
    margin-bottom: 20px;
}

.circle-create{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #007C89;
        margin-right: 20px;
}
.create p{
    font-size: 1rem;
}
.circle-create img{
    width: 70%;
    transform: translate(20%, 20%);
}
.create,
.audience,
.Campaigns,
.Automations,
.searchdash,
.newuser{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.DashNav select{
    margin-left: 30px;
    border: none;
    background-color:transparent;
    width: 60%;
    color: #023047;
    font-size: 1rem;
}
.DashNav select:focus {
    outline: none;
}
.searchdash p{
    margin-left: 37px;
    font-size: 1rem;
}

.upgrade{
    padding: 10px 0px 20px 0px;
    background-color: #D1E7EA;
    color: #007C95;
    align-items: center;
    justify-content:center;
    display: flex;
    width: 90%;
    font-weight: bold;
    margin-top: 150px;
    margin-bottom: 10px;
}
.upgrade a{
    text-decoration: none;
    color: #007C95;
}
.newuser p{
    font-size:0.87rem;
}
.usertext{
    margin-left: 20px;
}

.dashcontainer{
    display: flex;
}

.dashcontainer hr{
    height: 80vh;
}
.das{
    font-family: 'Montserrat', sans-serif;
}

/* Responsive line of codes */

@media (max-width: 1082px){
    .DashNav select{
       width: 80%;
    }
}

@media (max-width: 800px){
    .dashboardNav{
        width: 30%;
        position: fixed;
        font-family: 'Montserrat', sans-serif;
        left: -1000px;
}
    .das{
        position: fixed;
        left: 0px;
        font-family: 'Montserrat', sans-serif;
        background-color:#8da8b6;
        transition: 0.5s ease-in-out;
    }
    .sideBAR{
        display: block;
        position: fixed;
        top: 20px;
        left: 20px;
    }
}