@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


.dashboardNav{
    width: 20%;
    font-family: 'Montserrat', sans-serif;
    background-color:red;
}
.dashhead{
    display:flex;
    justify-content:space-between;
}