@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


.Hero{
    /* height: calc(100% - 68px); */
    background-color: #FB8500;
    padding-bottom: 10px;
    padding-top: 68px;

}

.Hero-content{
    max-width: 90%;
    margin: 0px auto;
    display: flex;
}
.hero-text{
    max-width: 40%;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-left: 80px;
    margin-top: 130px;
}

.hero-text h1{
    font-size: 2.8rem;
    /* width: 100% */
}
.hero-text p{
    margin-top:40px;
    font-size:0.875rem;
    font-weight: 400;
    width: 81%;
    line-height: 25px;
}

.hero-image{
    max-width: 50%;
    display: flex;
}
.hero-image .heroI{
    width: 100%;
    height: auto;
}
.hero-image .quest{
    width: 10%;
}
.heroI{
    margin-top: -6px;
}
.quest{
    margin-top: 450px;
}
.Btn{
    display: flex;
    margin-right: 20px;
    margin-top: 60px;
}
.Btn a{
    text-decoration: none;
}

.BtnSignUp{
    padding: 10px 30px;
    background-color: #023047;
    color: white;
    font-weight: 700;
    margin-right: 20px;
}
.BtnSign{
    padding: 10px 15px;
    color: white;
    font-weight: 700;
    background-color: transparent;
    border: 1px solid #023047;
}


/* Responsive line of codes */

@media (max-width: 1326px){
    .hero-text{
        max-width: 45%;
    }
}


@media (max-width: 1200px){
    .hero-text{
        margin-top: 80px;
    }
    .hero-text{
        max-width: 47%;
    }
    .hero-image{
        max-width: 60%;
    }
}

@media (max-width: 1134px){
    .hero-text{
        margin-top: 60px;
    }
    .hero-text{
        max-width: 45%;
    }
    .hero-image{
        max-width: 60%;
    }
    .hero-text h1{
        font-size: 2.5rem;
    }
}

@media (max-width: 1068px){
    .hero-text p{
        width: 100%;
    }
    .quest{
        margin-top: 300px;
    }
    .hero-image{
        max-width: 90%;
    }
    .hero-text{
        max-width: 40%;
    }
    .hero-text h1{
        font-size: 2.4rem;
    }
}

@media (max-width: 952px){
    .Btn{
        margin-top: 25px;
    }
    .hero-text p{
        margin-top:25px;
        width: 100%;
        line-height: 20px;
    }
    .hero-text{
        margin-top: 50px;
    }
}

@media (max-width: 878px){
    .BtnSignUp{
        padding: 10px 20px;
    }
    .BtnSign{
        padding: 10px 15px;
    }
}

@media (max-width: 828px){
    .BtnSign{
        padding: 10px 10px;
    }
    .Hero-content{
        flex-wrap: wrap;
    }
    .hero-text{
        max-width: 70%;
    }
    .hero-image{
        max-width: 70%;
        margin: auto;
    }
   
}

@media (max-width: 478px){
    .BtnSignUp{
        padding: 10px 10px;
        margin-right: 15px;
    }
    .BtnSign{
        padding: 10px 5px;
    }
    .Btn{
        margin-right: 0px;
    }
    .quest{
        margin-top: 250px;
    }
}