@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.SignPage{
    overflow:hidden;
}
.Signup{
    display: flex;
}

.signupform{
    width: 55%;
    font-family: 'Montserrat', sans-serif;
    padding-top: 80px;
}

.lady{
    width: 45%;
    background-color: #FB8500;
    padding-top: 80px;
    /* height: calc(100vh - 68px); */
    /* position: relative; */
}
.ladyicon{
    width: 70%;
    /* display: none; */
    /* position: absolute;
    bottom: 0px;
    right: 0px; */
}
.lady img{
    width: 95%;
    /* height: 500px; */
    /* height: calc(100vh - 170px); */
    /* object-fit: contain; */
    margin-left: 200px;
    margin-top: 90px;
    /* border: 5px solid; */
    /* object-position: 31px 0px; */
}


.Formwidth{
    max-width: 65%;
    padding: 30px;
    margin: 30px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Formwidth h2{
    font-size: 2rem;
    color:#023047
}
.Formwidth p{
    font-size: 1rem;
    font-weight: 400;
    color: #023047;
    margin-bottom: 20px;
    margin-top: 10px;
}

#check{
    margin-right: 10px;
}

input#check{
    width: 20px;
    height: 21px;
}

.checkB{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.Formwidth p a{
    text-decoration: none;
    color: #138ECB;
}

.checkB>label{
    font-size: 0.8rem;
}
.Formwidth h5{
    font-size: 0.8rem;
    font-weight: 400;
    color: #023047;
    margin-bottom: 20px;
    margin-top: 15px;
    width: 89%;
}

.BtnSigning{
        font-size:1rem;
        border-radius:0px;
        font-weight:bold;
        border: 1px solid #023047;
        padding: 12px 0px;
        align-items: center;
        justify-content:center;
        width: 30%;
        background-color: transparent;
        color: #023047;
}
form a{
    color: #138ECB;
}

.Formwidth h5 span {
    font-size: 0.8rem !important;
    font-weight: 400;
    text-decoration: none;
}

.Formwidth h5 span a {
   text-decoration: none;
}


/* Responsive line of codes */

@media (max-width: 1233px){
    .lady img{
        margin-top: 150px;
        margin-left:150px;
    }
        .ladyicon{
            width: 75%;
        }

}

@media (max-width: 1105px){
    .lady img{
        margin-top: 180px;
        margin-left:110px;
    }
        .ladyicon{
            width: 80%;
        }

}

@media (max-width: 991px){
    .lady img{
        margin-top: 180px;
        margin-left:90px;
        width: 80%;
    }
        .ladyicon{
            width: 100%;
        }

}
@media (max-width: 905px){
    .Signup{
        display: block;
    }
    .signupform{
        width: 90%;
    }
    .lady{
        width: 100%;
        padding-top: 10px;
    }
    .ladyicon{
        width: 80%;
        margin:auto; 
    }
    .Formwidth{
        max-width: 80%;
    }
    .lady img{
        margin-top: 100px;
        margin-left:30px;
        width: 80%;
    }
}

@media (max-width: 480px){
    .Formwidth{
        max-width: 95%;
    }
    .Formwidth h5{
        width:100%;
    }
    .BtnSigning{
        width: 50%;
    }
}
