@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head{
  background-color: #FB8500;
}
header{
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 0px auto;
  padding-top: 30px;
  align-items: center;
}
.headerimage{
  width: 40%;
  margin-left: 80px;
}
.headerlogin a {
  padding: 10px 25px;
  border: 1px solid #023047;
  border-radius: 4px;
  font-size: 12px;
  text-decoration: none;
  font-weight: 700;
  color: black;
}
.headersignup a{
  padding: 10px 25px;
  border-radius: 4px;
  background-color: #023047;
  color: white;
  font-size: 12px;
  text-decoration: none;
  font-weight: 700;
}

.Navbar{
  display: flex;
  width: 60%;
}

.nav{
  width: 65%;
  font-family: 'Montserrat', sans-serif;
}

header .icons{
  display:flex;
  width: 35%;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
}

.navlink a {
  text-decoration: none;
  font-size: 12px;
  color: white;
  font-weight: 700;
}

.navlink {
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin-right:30px;
}

.icon{
  width: 7%;
}

.icon img{
  width: 100%;
}